@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
  font-family: 'Oswald', sans-serif;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #ff8484, #ff6a6a);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.numberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  min-height: 300px;
  min-width: 300px;
}

.number {
  font-size: 5rem;
}

.minimumMaximumContainer {
  font-family: 'Oswald';
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.minimumNumber,
.maximumNumber {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 50px;
  max-width: 95px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Oswald';
}

button {
  font-family: 'Oswald';
  font-size: 1rem;
  border-radius: 50px;
  padding: 1rem;
  background: white;
  margin-top: 1rem;
  border: none;
  min-width: 250px;
  text-transform: uppercase;
}

button:active {
  transform: translate(2px,2px);
}
