@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
  font-family: 'Oswald', sans-serif;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8484), to(#ff6a6a));
  background-image: linear-gradient(to right, #ff8484, #ff6a6a);
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation: fade ease 2s;
          animation: fade ease 2s;
}

.numberContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: white;
  border-radius: 50%;
  min-height: 300px;
  min-width: 300px;
}

.number {
  font-size: 5rem;
}

.minimumMaximumContainer {
  font-family: 'Oswald';
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-top: 1rem;
}

.minimumNumber,
.maximumNumber {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 50px;
  max-width: 95px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Oswald';
}

button {
  font-family: 'Oswald';
  font-size: 1rem;
  border-radius: 50px;
  padding: 1rem;
  background: white;
  margin-top: 1rem;
  border: none;
  min-width: 250px;
  text-transform: uppercase;
}

button:active {
  -webkit-transform: translate(2px,2px);
          transform: translate(2px,2px);
}
